#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. "/about/" for the file
#   "content/about.html"). To select all children, grandchildren, ... of an
#   item, use the pattern "/about/*/"; "/about/*" will also select the parent,
#   because "*" matches zero or more characters.

compile '/stylesheets/sass/*' do
  filter :sass
end

compile '/stylesheets/*' do
end

compile '/images/*' do
end

compile '*' do
  filter :erb
  filter :haml
  layout 'default'
end

route '/stylesheets/sass/*' do
  item.identifier.chop.gsub('/sass','') + '.css'
end

route '/stylesheets/*' do
  item.identifier.chop + '.css'
end

# route '/javascripts/*' do
#   item.identifier.chop + '.js'
# end

route '/images/*' do
  item.identifier.chop + '.' + item[:extension]
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :haml
